/*  your css code here. If applicable */
.main{
	width:1100px;
	background-color:beige;
}
.imageContainer{
	height:30%;
	width:40%;
	margin-top:10px;
}
.imageContainer>img{
	margin-top:10px;
	margin-left:10px;
	margin-bottom:10px;
}
table{
	border:1px solid black;
}
td{
	border:1px solid black;
}
.img1>img{
	width:200px;
	height:200px;
	
}
.content{
	width:600px
}
.img2>img{
	width:200px;
	height:200px;
}
